absl-py==1.1.0
albumentations==1.2.0
beautifulsoup4==4.13.4
Bottleneck==1.3.4
brotlipy==0.7.0
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.4
chumpy==0.70
cloudpickle==1.6.0
colorama==0.4.4
contourpy==1.0.7
cryptography==36.0.0
cycler==0.10.0
Cython==0.29.28
cytoolz==0.11.0
dask==2.30.0
decorator==4.4.2
easydict==1.9
flatbuffers==2.0
fsspec==2025.3.0
fvcore==0.1.5.post20210915
gdown==5.2.0
google-auth==2.9.0
google-auth-oauthlib==0.4.6
grpcio==1.47.0
hf-xet==1.1.5
huggingface-hub==0.34.3
idna==3.3
imageio==2.9.0
importlib-metadata==4.12.0
insightface==0.6.2
iopath==0.1.9
joblib==1.1.0
kiwisolver==1.2.0
loguru==0.6.0
Markdown==3.3.7
matplotlib==3.3.1
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
networkx==2.5
numexpr==2.8.1
numpy==1.24.3
oauthlib==3.2.0
onnx==1.12.0
onnxruntime==1.11.0
opencv-python-headless==4.6.0.66
packaging==25.0
pandas==1.4.1
Pillow==9.0.1
pip==21.2.4
portalocker==2.4.0
prettytable==3.3.0
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.2
pytorch3d==0.7.4
pytz==2021.3
PyWavelets==1.1.1
PyYAML==5.3.1
qudida==0.0.4
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-image==0.17.2
scikit-learn==1.1.1
scipy==1.10.0
setuptools==61.2.0
six==1.16.0
soupsieve==2.7
tabulate==0.8.9
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
threadpoolctl==3.1.0
tifffile==2020.10.1
toolz==0.11.1
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tornado==6.1
tqdm==4.67.1
trimesh==3.12.7
typing_extensions==4.13.2
urllib3==1.26.8
wcwidth==0.2.5
Werkzeug==2.1.2
wheel==0.37.1
yacs==0.1.8
zipp==3.8.0
